<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
  <title>Главная</title>
</head>

<body>
<section layout:fragment="content">
  <div class="page-heading">
    <h1 class="page-title">Basic Tables</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html"><i class="la la-home font-20"></i></a>
      </li>
      <li class="breadcrumb-item">Basic Tables</li>
    </ol>
  </div>
  <div class="page-content fade-in-up">
    <div class="row">
      <div class="col-xl-6">
        <div class="ibox">
          <div class="ibox-head">
            <div class="ibox-title">Турнирная таблица</div>
          </div>
          <div class="ibox-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>№</th>
                <th>Команда</th>
                <th>И</th>
                <th>В</th>
                <th>Н</th>
                <th>П</th>
                <th>М</th>
                <th>О</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="team, iterStat : ${teams}">
                <td th:text="${iterStat.index + 1}">1</td>
                <td th:text="${team.teamName}">Команда</td>
                <td th:text="${team.played}">10</td>
                <td th:text="${team.wins}">6</td>
                <td th:text="${team.draws}">2</td>
                <td th:text="${team.losses}">2</td>
                <td>
                  <span th:text="${team.goalsFor}"></span>-
                  <span th:text="${team.goalsAgainst}"></span>
                </td>
                <td th:text="${team.points}">20</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>


