<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
  <title>Главная</title>
</head>

<body>
<section layout:fragment="content">
  <div class="page-heading">
    <h1 class="page-title">Расписание турнира</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html"><i class="la la-home font-20"></i></a>
      </li>
      <li class="breadcrumb-item">Basic Tables</li>
    </ol>
  </div>
  <div class="page-content fade-in-up">
    <div class="row" th:each="round : ${roundsWithMatches}">
      <div class="col-xl-6">
        <div class="ibox">
          <div class="ibox-head">
            <div class="ibox-title">
             [[${round.name}]]</div>
          </div>
          <div class="ibox-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Дата и время</th>
                <th>Команда 1</th>
                <th>Счёт</th>
                <th>Команда 2</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="match : ${round.matches}">
                <td th:text="${match.matchDateTime}"></td>
                <td>
                  <a th:href="@{'/team/' + ${match.homeTeamId}}" th:text="${match.homeTeamName}"></a>
                </td>
                <td>
                  <a th:href="@{'/match/' + ${match.id}}"
                     th:text="${match.homeGoals != null and match.awayGoals != null ? match.homeGoals + ':' + match.awayGoals : '—:—'}">
                  </a>
                </td>
                <td>
                  <a th:href="@{'/team/' + ${match.awayTeamId}}" th:text="${match.awayTeamName}"></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>


